<section >
   <div class="container slide-in-bottom" >
    <div class="firstRow">
        <div class="cityContainer item">
            <div class="title title--city">
               CITY
            </div>
            <div class="body body--city">
                <div class="background-image" [style.backgroundImage]="'url(' + registro.ciudad.imagen + ')'"></div>
                <h1>{{registro.ciudad.nombre}}</h1>
            </div>
        </div>
        <div class="dayContainer item">
            <div class="title title--day">
                DAY
            </div>
            <div class=" body body--day">
                <h2>{{dia}}</h2>
            </div>

        </div>
    </div>
    <div class="secondRow">
        <div class="activitiesContainer item">
            <div class="title title--activities">
               ACTIVITIES
            </div>
            <div class="body body--activities">
                <ul>
                    <li *ngFor="let actividad of registro?.actividades">{{ actividad }}</li>
                </ul>
                
            </div>
        </div>
        <div class="videoContainer item">
            <div class="body body--video">
                <div class="background-image--video" [style.backgroundImage]="'url(' + registro.video.miniatura + ')'"></div>
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c7.6-4.2 16.8-4.1 24.3 .5l144 88c7.1 4.4 11.5 12.1 11.5 20.5s-4.4 16.1-11.5 20.5l-144 88c-7.4 4.5-16.7 4.7-24.3 .5s-12.3-12.2-12.3-20.9V168c0-8.7 4.7-16.7 12.3-20.9z"/></svg>
            </div>
        </div>
    </div>
    <div class="thirdRow">
        <div class="hotelContainer item">
            <div class="title title--city">
                ACCOMODATION
             </div>
            <div class="body body--hotel">
                <div class="background-image--hotel" [style.backgroundImage]="'url(' + registro.hotel.foto + ')'"></div>
                <h2>{{registro.hotel.nombre}}</h2>
                <p>{{registro.hotel.direccion}}</p>
            </div>
        </div>
    </div>
   </div>
   
</section>
