@import "../../../styles.scss";

section{
    min-height: calc(100vh - 80px);
    width: 100vw;
    background-color: $paleWhite;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
    padding-top: 2rem;
}
.image{
    width: 250px;
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    opacity: 85%;
    border-top: 6px solid $paleWhite;
    border-bottom: 6px solid $paleWhite;

}


.container{
    margin: 0;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    column-gap: 2%;
    row-gap: 2rem;
    align-items: center;  
    z-index: 10;
}

.dayContainer{
    background-color: $lightBlack;
    height: 353px;
    border-radius: 20px;
    text-align: center;
    color: $paleWhite;
    font-family: "Poppins";
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        scale: 1.02;
        cursor: pointer;
        
        .number{
            color: $red;
        }
    }
}

.day{ 
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    h2{
        font-size: 16px;
    }
}


.cityName{
    font-family: "Red Rose";
    font-size: 40px;
    margin: 0;
    padding: 0;
    margin-bottom: 0rem;
}

.detailsButton{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    fill: $paleWhite;

    &:hover{
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        fill: $red;
        scale:1.2;
    }
}


@media screen and (max-width: 1100px){
    .container{
        grid-template-columns: repeat(3, 250px);
    }
}

@media screen and (max-width: 950px){
    .container{
        grid-template-columns: repeat(2, 250px);
    }
}

@media screen and (max-width: 560px){
    .container{
        grid-template-columns: repeat(1, 250px);
    }
}

.optionsContainer{
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: flex-end;
    height: 35px;;
   
}

.toggle-form-btn{
    margin: auto;
    z-index: 100;
    background-color: #b0a9a9;
    border: none;
    border-radius: 20px;
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    svg{
        fill: $paleWhite;
        font-size: 22px;
    }
    &:hover{
        cursor: pointer;
        background-color: #a9a9a9;
    }
}

.form-container{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    
    gap: 2%;
    height: 750px;
    border-radius: 20px;
    background-color: $lightBlack;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.title{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: $paleWhite;
}

form{
    height: 690px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    align-items: center;

}

label{
    font-size: 12px;
    font-weight: 700;
}
input{
    width: 250px;
    margin-bottom: 1rem;
}
textarea{
    width: 250px;
    height: 100px;
    margin-bottom: 1rem;
}

.error{
    color: $red;
    h4{
        margin-bottom: 0.5rem;
    }
}